.dotContainer {
    height: 10px;
    display: flex;
    justify-content: center;

    div {
        margin: 0px 1px;
    }
}

.dashContainer {
    height: 4px;
    display: flex;
    justify-content: center;
    margin-bottom: 2px;
}

.today {
    background-color: #e0f7fa;
    margin: 2px;
    border-radius: 5px;
}

.emptyDot {
    width: 10px; // Dot 的大小
    height: 10px; // Dot 的大小
    margin: 0px 1px; // 保持與其他Dot一致的間距
  }
  
  .emptyDash {
    width: 20px; // Dash 的寬度
    height: 4px; // Dash 的高度
    margin-bottom: 2px; // 保持與其他Dash一致的間距
  }